@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Lato';
  src: url('./assets/fonts/Lato-Bla.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mintage';
  src: url('./assets/fonts/Mintage.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* * {
  cursor: none;
}

@media (pointer: coarse) {
  * {
    cursor: auto;
  }

  .custom-cursor,
  .cursor-dot {
    display: none;
  }
} */